<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GUI_Index</title>

</head>
<body>

<style>
    body {
        background-image: url(images/swagAttackGreenACastle.png);
        width: auto;
        height: auto;
        background-color: #cccccc;
        background-size:cover;
    }


</style>

<div class="container body-content">
    @RenderBody()
    
    <table>
        

    </table>
</div>

@RenderSection("Scripts", required: false)
</body>
</html>
