<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GUI_Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<img src="~/images/swagAttackGreenACastle.png" class="img-center"/>

<style>
    th {
        background-color: saddlebrown;
    }
    table, tr, td {
        background-color: peru;
        color: gold;
        border: 2px orange;
    }

    td:hover {
        background-color: lightcoral;
        color: darkred;
        border-color: black;
    }


    body {

    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
        background-color: peru;
        color: gold;
        border-color: saddlebrown;

        
    }
    .divider{
        width:15px;
        height:10px;
    }

    .btn-group-vertical {
        position: center;
        width: 100%;
    }

    .btn-post {
        background-color: peru;
        color: gold;
        border-color: saddlebrown;
        /*width: 150px;
        height: 50px;*/
        font-weight: bold;
        /*border-radius: 10%*/
    }


    .absolute-center {
        margin: auto;
        position: absolute;
        top: 50%;left: 0; bottom: 0; right: 0;
    }

    .absolute-center.is-responsive {
        width: 50%;
        height: 50%;
        min-width: 200px;
        min-height: 400px;
        padding: 40px;
    }

    body, html {
        margin: 0;
        padding: 0
    }

    .img-center {
        background-image: url(images/swagAttackGreenACastle.png);
        background-color: #cccccc;
        background-size: cover;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%
    }
</style>

<div class="container body-content">
    @RenderBody()

    <table>


    </table>
</div>

@RenderSection("Scripts", required: false)
</body>
</html>
