@using Domain.Interfaces
@model Domain.Interfaces.ILobby
@{
    ViewData["Title"] = "Tilslut Lobby";
}

<body>
    <div class="container">
        <button type="button" class="btn btn-post" onclick="location.href = '@Url.Action("PostLogInd", "Home")'">Tilbage</button>

        <div class="form-group left-Align ingamebox">
            Mangler implementering af SignalR.
            <table>
                <th>Users in Lobby: </th>            
                @if (Model.Usernames.Count > 0)
                {
                    foreach (var usernames in Model.Usernames)
                     {
                         <tr>
                             <td>
                                 @usernames;
                             </td>
                         </tr>
                     }
                }

            </table>
        </div>
    </div>
</body>
