@using GUI_Index.ViewModels
@model IEnumerable<Domain.Interfaces.ILobby>
@{
    ViewData["Title"] = "Tilslut Lobby";
}

<body>
    <div class="container">
        <button type="button" class="btn btn-post" onclick="location.href = '@Url.Action("PostLogInd", "Home")'">Tilbage</button>

        <div class="form-group left-Align ingamebox">
            <table>
                <th>Lobbies online</th>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <form method="post" formaction="@Url.Action("TilslutLobby", "Lobby")">
                                    <div class="form-group">
                                        <input type="hidden" name="Id" class="form-control" value="@item.Id"/>
                                    </div>
                                    <button type="submit" class="btn btn-primary">@item.Id</button>       
                            </form> 
                        </td>
                     </tr>
                }
            </table>
        </div>
    </div>
</body>