@using GUI_Index.ViewModels
@model GUI_Index.ViewModels.RegistorViewModel
@{
    ViewData["Title"] = "OpretKonto";
}


<body>
<div class="container"> 
    <div class="row">
        <div class="absolute-center is-responsive" align="right">
            <form method="post" asp-controller="Konto" asp-action="OpretKonto">
                <!--Username -->
                <div class="form-group row">
                    <label asp-for="Username" class="col-sm-5 col-form-label">Brugernavn</label>
                    <div class="col-sm-6" align="left">
                        <input asp-for="Username" placeholder="E.g. 'Vladimir'" />
                        <span asp-validation-for="Username"></span>
                    </div>
                </div>

                <!--Given name -->
                <div class="form-group row">
                    <label asp-for="GivenName" class="col-sm-5 col-form-label">Fornavn</label>
                    <div class="col-sm-6" align="left">
                        <input asp-for="GivenName" placeholder="E.g. 'Putin'" />
                        <span asp-validation-for="GivenName"></span>
                    </div>
                </div>

                <!--Last name -->
                <div class="form-group row">
                    <label asp-for="LastName" class="col-sm-5 col-form-label">Efternavn</label>
                    <div class="col-sm-6" align="left">
                        <input asp-for="LastName" placeholder="E.g. 'swagmeister5000'" />
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-5 col-form-label">E-mail</label>
                    <div class="col-sm-6" align="left">
                        <input asp-for="Email" placeholder="E.g. 'swag@swagattack.com'" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group row">
                    <label asp-for="Password" class="col-sm-5 col-form-label">Password</label>
                    <div class="col-sm-6" align="left">
                        <input asp-for="Password" placeholder="Something unguessable..." />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>

                <!--Confirm password -->
                <div class="form-group row">
                    <label asp-for="ConfirmPassword" class="col-sm-5 col-form-label">Gentag password</label>
                    <div class="col-sm-6" align="left">
                        <input asp-for="ConfirmPassword" placeholder="Type password again" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>

                <!-- buttoms-->
                <div class="form-group row">
                <div class="col-sm-6 offset-sm-5" align="left">
                    <div class=".btn-group-vertical">
                        <input type="Submit" class="btn btn-post" value="Opret konto" />
                        <button type="button" class="btn btn-post" onclick="location.href = '@Url.Action("LogInd", "Home")'">Tilbage</button>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>