@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style type="text/css">

    </style>
</head>


<body>
<div class="container">
    <img src=images/swagAttackGreenACastle.png alt=""/>
    <div align="center">
        <h1>Velkommen til SwagAttack!</h1>
    </div>
</div>

</body>
    