@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>


<body>
<img src=images/swagAttackGreenACastle.png alt=""/>

<div class="container">
    <img src=images/swagAttackGreenACastle.png alt=""/>
    <div align="center">
        <h1>Velkommen til SwagAttack!</h1>
    </div>
</div>


<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input class="form-control" id="formGroupExampleInput" placeholder="Example input" type="text">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input class="form-control" id="formGroupExampleInput2" placeholder="Another input" type="text">
    </div>
</form>
</body>
    