@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style type="text/css">
        body, html {
            margin: 0;
            padding: 0
        }

        img {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%
        }
    </style>
</head>


<body>
<div class="container">
    <img src=images/swagAttackGreenACastle.png alt=""/>
    <div align="center">
        <h1>Velkommen til SwagAttack!</h1>
    </div>
</div>

</body>
    