
@{
    ViewData["Title"] = "Lobby";
}

<body>

    <h2>Lobby</h2>

    <div class="container">
        <button type="button" class="btn btn-post" onclick="location.href = '@Url.Action("TilslutLobby", "Home")'">Tilbage</button>

    </div>

</body>

<script src="~/lib/signalr.js"></script>
<script src="~/js/Lobby.js"></script>
