
@{
    ViewData["Title"] = "Log Ind";
}

<body>

<form>
    <div class="form-group">
        <label for="Username">Username:</label>
        <input type="text" class="form-control" id="Username">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>

    <button type="button" class="btn btn-primary">Opret Konto</button>
    <button type="button" class="btn btn-primary">Log Ind</button>

</form>

</body>



