@model Models.Interfaces.IUser
@{
    ViewData["Title"] = "Log Ind";
}

<body>
    <div class="container">
        <div class="row">
            <form method="post" formaction="@Url.Action("LogInd", "Home")">
                <div class="absolute-center is-responsive">
                    <div class="form-group">
                        <label for="Username">Username:</label>
                        <input type="text" class="form-control" name="Username">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password:</label>
                        <input type="password" class="form-control" name="Password">
                    </div>
                    <div class="btn-group-vertical">

                        <button type="submit" class="btn btn-primary">Log Ind</button>
                        <div class="divider"></div>
                        <br />
                        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("OpretKonto", "Home")'">
                            Opret Konto
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>



