
@{
    ViewData["Title"] = "Log Ind";
}

<body>
    <table>
        <tr>
            <td>
                <label> Username: </label>
                <input type="text" name="UserTextBox" />
            </td>
        </tr>

        <tr>
            <td>
                <label> Password: </label>
                <input type="password" name="PassTextBox" />
            </td>
        </tr>

        <tr>
            <td>
                <button> Log Ind</button>
                <button> Opret Konto</button>
            </td>
        </tr>
    </table>

</body>



