
@{
    ViewData["Title"] = "PostLogIndView";
}

<body>
    <button type="button" class="btn-primary" onclick="location.href='@Url.Action("LogInd", "Home")'">Log Ud</button>
<div class="container">
    <div class="row">
        <div class="absolute-center is-responsive">
            <div class="absolute-center is-responsive">
                <div class="form-group">

                    <button type="button" class="btn-post">Mine Aktive Spil</button>
                    <div class="divider" />
                    <br />
                    <button type="button" class="btn-post">Tilslut Lobby</button>
                    <div class="divider" />
                    <br />
                    <button type="button" class="btn-post">Opret Lobby</button>
                    <div class="divider" />
                    <br />

                </div>
            </div>
        </div>
    </div>
</div>
</body>
