@model Domain.Interfaces.ILobby
@{
    ViewData["Title"] = "TilslutLobby";
}

<body>

<h2>TilslutLobby</h2>

<div class="container">
    <button type="button" class="btn btn-post" onclick="location.href = '@Url.Action("PostLogInd", "Home")'">Tilbage</button>
    <br />
    <button type="button" class="btn btn-post" id="OpretButton" onclick="location.href = '@Url.Action("OpretLobby","Home")'">Opret Lobby</button>
    <div class="row">
        <div class="form-group left-Align">
            <ul id="LobbyList"></ul>
        </div>
    </div>
</div>

</body>
<script src="~/lib/signalr.js"></script>
<script src="~/js/Lobby.js"></script>
